<div class="row tm-mb-medium">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-4">
        <h4 class="mb-4 tm-font-300">Latest Procucts</h4>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Emerging Technologies</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Sustainability</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Consumer Trends</a>
        <a href="#" class="tm-text-blue-dark d-block">Impact of COVID-19</a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-4">
        <h4 class="mb-4 tm-font-300">Our Pages</h4>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Design and User Experience</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Content Strategy</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Search Engine Optimization (SEO)</a>
        <a href="#" class="tm-text-blue-dark d-block">Social Media Strategy</a>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
        <h4 class="mb-4 tm-font-300">Quick Links</h4>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Website Navigation</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Best Practices</a>
        <a href="#" class="tm-text-blue-dark d-block mb-2">Customer Needs</a>
        <a href="#" class="tm-text-blue-dark d-block">Mobile Devices</a>
    </div>
</div>
<footer class="row">
    <div class="col-xl-12">
        <p class="text-center p-4">Copyright &copy; <span class="tm-current-year">2023</span> SnapShop</p>
    </div>
</footer>
