<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/key.jpg"> -->

    <!-- ====== load CSS ====== -->
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Font awesome -->
    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
    <!-- Animation for notification -->
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Main style -->
    <link rel="stylesheet" href="/css/main.css" />
  </head>
</html>
