<div class="row tm-mb-big tm-subscribe-row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 tm-bg-gray tm-subscribe-form">
        <h3 class="tm-text-blue tm-mb-30">Subscribe our updates!</h3>
        <p class="tm-mb-30">Stay up-to-date with all of our latest news, content, and offers by subscribing today! Join our community of informed and engaged readers and never miss a beat.</p>
        <form action="/" method="Get">
            <div class="form-group mb-0">
                <input type="text" class="form-control tm-subscribe-input" placeholder="Your Email" />
                <input type="submit" value="Submit" class="tm-bg-blue tm-text-white d-block ml-auto tm-subscribe-btn" />
            </div>
        </form>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 img-fluid pl-0 tm-subscribe-img"></div>
</div>